.sep {
    margin-left: 12px;
    margin-top: 8px;
    margin-right: 12px;
    margin-bottom: 4px;
    background-color: transparent;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.hour-label {
    font-weight: bolder;
    font-size: 20px;
}

.date-label {
    font-size: 12px;
}

.time-widget {
    color: black;
}

.root {
    padding-top: 4px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 8px;
    margin-top: 16px;
    background-color: rgba(255, 255, 255, 0.6);
}

* {
    font-family:'Liberation Sans', sans-serif;
}

.workspace-button {
    font-size: 16px;
    background-image: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    border: none;
}

.workspace-box {
    margin-left: 4px;
    margin-right: 4px;
}

.selected-workspace .workspace-button {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.workspace-indicator {
    margin-top: 4px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 16px;
}

.has-window .workspace-indicator {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.selected-workspace.has-window .workspace-indicator {
    background-color: white;
    border: 1px solid white;
}

.workspace-button:hover {
    background-color: rgba(212, 212, 212, 0.3);
}

.workspace-button:active {
    background-color: rgba(177, 177, 177, 0.3);
}

.selected-workspace .workspace-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.selected-workspace .workspace-button:active {
    background-color: rgba(0, 0, 0, 0.9);
}